.hexagon {
    width: 100px;
    height: 55px;
    background: black;
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .hexagon:before {
    content: "";
    position: absolute;
    top: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 25px solid black;
  }
  .hexagon:after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 25px solid black;
  }
.profile-pic{
  max-width: 190px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.spec-hint{
  padding-top: 40px;
  color:white;
  text-align: center;
}